
html { background-color: #FFCCE5; }

img {width: 500px; max-width:90%; border: 1px solid black; }

body {max-width: 600px; margin: auto; background-color: #FFCCE5; }

div { background-color: #FFE5CC; }

.hienompi { background-color: beige; }

body {text-align: center; } 

ul {text-align: left; font-family: Arial, sans-serif; } 

h1 {color: orange; font-family: Arial, sans-serif; border: 1px solid black; }

h2 {color: darkblue; font-family: Arial, sans-serif; }

h3 {font-family: Arial, sans-serif; }

p  {font-family: Arial, sans-serif; }

.fancy-teksti { color: purple; }

